/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
*/

body {
  background-color: #484843;
  color: white;
  width: auto;
  min-width: 1000px;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
  line-height: 1.4;
}

a, a:visited {
  color: white;
}

@import "header";
@import "methods";
@import "modals";

footer {
  width: auto;
  clear: both;
  padding: 20px;
  background-color: #50745f;

  a {
    text-decoration: none;
    font-weight: bold;
  }
}
