body {
  background-color: #484843;
  color: white;
  width: auto;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  font-family: 'Arvo', serif;
  line-height: 1.4;
}

/* define header syle */

header {
  width: auto;
  padding: 1em;
  margin: 0px;
  background-color: #579f7b;
  border-bottom: solid 8px #4e8f6e;
  text-align: center;
  background-image: url('images/header-background.gif');
  background-repeat: no-repeat;
  background-position: center bottom;
}

header h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 100px;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0px;
  text-shadow: #3d6f56 0px 1px, #3d6f56 0px 2px, #3d6f56 0px 3px, #3d6f56 0px 4px, #3d6f56 0px 5px;
}

header h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 64px;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 10px;
  text-shadow: #3d6f56 0px 1px, #3d6f56 0px 2px, #3d6f56 0px 3px, #3d6f56 0px 4px;
}

header p {
  font-size: 20px;
  margin: auto 20%;
  text-shadow: #3d6f56 0px 1px, #3d6f56 0px 2px, #3d6f56 0px 3px;
}

/* define filter styles */

#criteria {
  width: auto;
  padding: 8px;
  margin: 15px;
  background-color: #5c5c5a;
  border-radius: 10px;
  border: solid 1px #878787;
  text-shadow: black 0px 2px;
}

#criteria h2 {
  font-size: 26px;
  text-align: center;
  font-weight: normal;
}

#criteria h3 {
  font-size: 18px;
  text-align: left;
  font-weight: normal;
}

#criteria .spacer {
  margin: 10px auto;
  padding: 0px;
  width: 9%;
  border-top: solid 1px #878787;
}

#criteria ul {
  list-style: none;
}

#criteria-data-types, #criteria-features {
  width: 30%;
  display: inline-block;
}



#criteria-data-types {
  margin-left: 17%;
  margin-right: 3%;
  float: left;
}

#criteria-features {
  margin-left: 3%;
  margin-right: 17%;
  float: left;
}

.filter {
  display: block;
  width: auto;
  min-width: 35%;
  min-height: 24px;
}

.filter-btn-group {
  display: inline-block;
  color: black;
  padding: 0px;
  margin: 2px 12px 2px 2px;
  background-color: #878787;
  border: 1px solid #666;
  border-radius: 4px;
}

.filter-btn {
  list-style: none;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  margin: 0px;
  padding: 2px 6px;
  text-shadow: none;
}

.filter-btn-group .filter-btn:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.filter-btn-group .filter-btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.filter-btn-neutral-inactive, .filter-btn-yes-inactive, .filter-btn-no-inactive {
  box-shadow: #444444 0px 2px;
  background-color: #cccccc;
}

.filter-btn-neutral-active, .filter-btn-yes-active, .filter-btn-no-active {
  box-shadow: #555 0px -2px;
  color: white;
}

.filter-btn-neutral-active {
  background-color: #444444;
}

.filter-btn-yes-active {
  background-color: #579f7b;
  text-shadow: 0 -1px 1px #468063;
}

.filter-btn-no-active {
  background-color: #f45540;
  text-shadow: 0 -1px 1px #c0493a;
}


#filterstats {
  clear: both;
  padding-top: 20px;
}




/* define reconstruction method styles */

.rec_method {
  display: inline-block;
  vertical-align: top;
  color: #444;
  list-style: none;
  width: 300px;
  min-width: 200px;
  min-height: 3em;
  border-radius: 5px;
  margin: 10px;
  padding: 0px;
  background-color: #f5f5f5;
  font-size: 13px;
  box-shadow: #333 0px 4px 4px;
}

.rec_method h2 {
  font-size: 16px;
  font-weight: normal;
  width: auto;
  margin: 0px;
  padding: 5px;
  background-color: #579f7b;
  color: white;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-shadow: 0 -1px 1px #666666; /*, 0 1px 1px #FFFFFF;*/
}

.verified_symbol {
  padding-left: 5px;
}

.rec_method p {
  padding: 7px;
}

.rec_method ul {
  padding: 7px;
  font-size: 90%;
}

.method_active {
  background-color: red;
}

.method_passive {
  color: blue;
}

.properties > li {
  list-style: none;
}

.properties .properties-value {
  display: inline-block;
  font-weight: bold;
  width: 20px;
  text-align: center;
}

.properties .properties-name {
  padding-left: 4px;
}

.references {
  width: auto;
  text-align: center;
}

.references a {
  color: #888;
  text-decoration: none;
}

a, a:visited {
  color: white;
}

footer {
  width: auto;
  clear: both;
  padding: 20px;
  background-color: #50745f;
}

footer a {
  text-decoration: none;
  font-weight: bold;
}