body {
  background-color: #080818;
  color: #eef;
  width: auto;
  padding: 0px;
  margin: 0px;
  font-size: 13px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

header {
  width: auto;
  border-bottom: 1px solid #eef;
  padding: 1em;
}

/* define filter styles */

#criteria {
  list-style: none;
}

.filter {
  display: block;
  float: left;
  width: 40%;
  min-width: 400px;
}

.filter-btn-group {
  display: inline-block;
  color: black;
  padding: 0px;
  margin: 2px;
}

.filter-btn {
  background-color: #555;
  list-style: none;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  margin: 0px;
  padding: 2px 5px;
}

.filter-btn-group .filter-btn:first-child {
  border-radius: 4px 0px 0px 4px;
}

.filter-btn-group .filter-btn:last-child {
  border-radius: 0px 4px 4px 0px;
}

/* for testing only, t.b.d. */
.filter-btn-neutral-active, .filter-btn-yes-active, .filter-btn-no-active {
  color: white;
}
.filter-btn-neutral-active {
  background-color: #999;
}
.filter-btn-yes-active {
  background-color: green;
}
.filter-btn-no-active {
  background-color: red;
}

#filterstats {
  clear: both;
  padding-top: 20px;
}

/* define reconstruction method styles */

.rec_method h2 {
  font-size: 120%;
  width: auto;
  margin: 0px;
  padding: 5px;
  background-color: #445;
  border-bottom: 1px solid #1A1A2A;
}

.rec_method {
  display: inline-block;
  vertical-align: top;

  border: 1px solid #aac;
  list-style: none;
  width: 300px; /*25%;*/
  min-width: 200px;
  min-height: 3em;
  border-radius: 5px;
  margin: 10px;
  background-color: #090918;
}

.verified_symbol {
  padding-left: 5px;
}

.rec_method p {
  padding: 7px;
}

.rec_method ul {
  padding-left: 20px;
  padding-top: 7px;
}

.rec_method:hover {
  background-color: #1A1A2A;
}

.method_active {
  background-color: red;
}

.method_passive {
  color: blue;
}

.properties > li {
  list-style: none;
}

.properties .properties-value {
  display: inline-block;
  font-weight: bold;
  width: 10px;
  text-align: center;
}

.properties .properties-name {
  padding-left: 8px;
}

.references {
  width: auto;
  text-align: center;
}

.references a {
  color: #888;
  text-decoration: none;
}

a, a:visited {
  color: white;
}

footer {
  clear: both;
  padding: 20px;
}