<html>
  <head>
    <title>Choose the network reconstruction method that's best for you</title>
    <link href='http://fonts.googleapis.com/css?family=Oswald:300|Roboto+Slab:300' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="choice_tree.css" type="text/css" />
  </head>
  
  <body>
    <header>
      <h1>Dear neuroscientist</h1>
      <h2>choose your reconstruction method</h2>
      
      <p>Finding the right tool to analyze structural connectivity can be<br/>
        tough, since there are so many out there. We can help, though!</p>
    </header>
    
    <div id='criteria'>
      <h2>Adjust the criteria to restrict your search</h2>
      <div class='spacer'>&nbsp;</div>
      
      <div id='criteria-data-types'>
        <h3>Please select what data you want the method to be able to work with:</h3>
        <ul><!-- list is generated dynamically --></ul>
      </div>
      <div id='criteria-features'>
        <h3>Please select what other properties the method should have:</h3>
        <ul><!-- list is generated dynamically --></ul>
      </div>
      <div id='filterstats'>
        Please specify your criteria.
      </div>
    </div>
    
    <ul id='choice_tree'>
      <!-- list is generated dynamically -->
    </ul>
    
    <footer>
      There are currently no methods listed. (Please enable JavaScript to use this app.)
      <!-- number is updated dynamically -->
    </footer>
    
    <script type="text/template" id="category-template">
      <ul class="filter-btn-group">
        <% var c_name = ''; %>
        
        <% c_name = "filter-btn-yes-inactive"; %>
        <% if(value===1) { c_name = "filter-btn-yes-active"; } %>
        <li class="filter-btn <%= c_name %>" data-id='1'>&#x2713;</li>
        <% if(!data_type_filter){ %>
          <% c_name = "filter-btn-no-inactive"; %>
          <% if(value===-1) { c_name = "filter-btn-no-active"; } %>
          <li class="filter-btn <%= c_name %>" data-id='-1'>&#x2717;</li>
        <% } %>
      </ul>
      <span class='name'><%= name %></span>
    </script>

    <script type="text/template" id="method-template">
      <h2><%= name %>
      <% if(verified_by_author) { %>
        <span class="verified_symbol">&#9734;</span>
      <% } %>
      </h2>
      <% var prop = properties; %>
      <ul class="properties">
        <% _(prop).each(function(value, name) { %>
          <li>
            <span class="properties-value">
              <% if(value===true) { %>
                <span class="yes">&#x2713;</span>
              <% } else { %>
                <span class="no">&#x2717;</span>
              <% } %>
            </span>
            <span class="properties-name"><%= name %></span>
          </li>
        <% }); %>
      </ul>
      <p class="references">
      <% if(reference_url !== "") { %>
        <a class="reference_link" href="<%= reference_url %>">Reference</a>
      <% } %>
      </div>
    </script>
    
    <script type="text/template" id="filterstats-template">
      There
      <% if(nr == 1) { %>
        is <span class='badge'>1</span> method that matches
      <% } else { %>
        are <span class='badge'><%= nr %></span> methods that match
      <% } %>
      your criteria.
    </script>
    
    <script type="text/template" id="stats-template">
      Note that the information of methods marked with the star symbol &#9734; has been verified by the authors of the paper shown as reference.<br/>
      There are currently <%= nr %> methods listed. Want to add your own? Please do <a href="mailto:olav@nld.ds.mpg.de">contact us</a>.
    </script>
    
    
    
    <script type="text/javascript" src="choice_tree.min.js"></script>    
    
    <script type="text/javascript">
      var methods = new app.ReconstructionMethodList();

      // declare reconstruction methods and their features
      methods.add( new app.ReconstructionMethod({name: "Cross-Correlation", properties: {
          "Can work with single cell resolution" : true,
          "Can work with calcium fluorescence data" : true,
          "Can work with macro scale resolution" : true,
          "Can work with fMRI data" : true,
          "Has been tested in simulations": true,
          "Has been applied to real data": true
        },
        reference_url : 'http://en.wikipedia.org/wiki/Correlation_and_dependence'
      }));
      methods.add( new app.ReconstructionMethod({name: "Mutual Information", properties: {
          "Can work with single cell resolution" : true,
          "Non-linear" : true,
          "Model-free" : true,
          "Can work with spike data" : true,
          "Can work with macro scale resolution" : true,
          "Can work with fMRI data" : true,
          "Has been tested in simulations": true,
          "Has been applied to real data": true
        },
        reference_url : 'http://en.wikipedia.org/wiki/Mutual_information'
      }));
      methods.add( new app.ReconstructionMethod({name: "Granger Causality", properties: {
          "Can work with single cell resolution" : true,
          "Can work with macro scale resolution" : true,
          "Can work with fMRI data" : true,
          "Has been tested in simulations": true,
          "Has been applied to real data": true
        },
        reference_url : 'http://en.wikipedia.org/wiki/Correlation_and_dependence'
      }));
      methods.add( new app.ReconstructionMethod({name: "Transfer Entropy", properties: {
          "Non-linear" : true,
          "Can work with single cell resolution" : true,
          "Can work with macro scale resolution" : true,
          "Model-free" : true,
          "Can work with spike data" : true,
          "Can work with fMRI data" : true,
          "Has been tested in simulations": true,
          "Has been applied to real data": true
        },
        reference_url : 'http://prl.aps.org/abstract/PRL/v85/i2/p461_1'
      }));
      methods.add( new app.ReconstructionMethod({name: "Generalized Transfer Entropy", properties: {
          "Non-linear" : true,
          "Can work with single cell resolution" : true,
          "Can work with calcium fluorescence data" : true,
          "Model-free" : true,
          "Can work with spike data": true,
          "Has been tested in simulations": true,
          "Has been applied to real data": true
        },
        reference_url : 'http://www.ploscompbiol.org/article/info:doi/10.1371/journal.pcbi.1002653',
        verified_by_author : true
      }));
      methods.add( new app.ReconstructionMethod({name: "Bayesian Inference", properties: {
          "Non-linear" : true,
          "Can work with single cell resolution" : true,
          "Can work with calcium fluorescence data" : true,
          "Has been tested in simulations": true
        },
        reference_url : 'http://projecteuclid.org/DPubS?service=UI&version=1.0&verb=Display&handle=euclid.aoas/1310562720'
      }));
      methods.add( new app.ReconstructionMethod({name: "Anatomical Reconstruction", properties: {
          "Can work with single cell resolution" : true,
          "Can work with anatomical data" : true,
          "Model-free" : true,
          "Has been applied to real data": true
        },
        reference_url : 'http://www.springerlink.com/index/10.1007/s10827-012-0390-z'
      }));
      // methods.add( new app.ReconstructionMethod({name: "Tensor Diffusion Imaging", properties: {
      //           "Can work with anatomical data" : true,
      //           "Can work with macro scale resolution" : true
      //         },
      //         reference_url : 'http://www.pnas.org/content/109/28/11372.short'
      //       }));
      // methods.add( new app.ReconstructionMethod({name: "Patch Clamp", properties: {
      //           "Can work with spike data": true,
      //           "Can work with single cell resolution" : true,
      //           "yields the ground truth, no approximation" : true
      //         },
      //         reference_url : 'http://www.annualreviews.org/doi/pdf/10.1146/annurev.ph.46.030184.002323'
      //       }));
      methods.add( new app.ReconstructionMethod({name: "Generalized Linear Model", properties: {
          "Can work with single cell resolution" : true,
          "Non-linear" : true,
          "Can work with spike data": true,
          "Has been tested in simulations": true,
          "Has been applied to real data": true
        },
        reference_url : 'http://www.nature.com/nature/journal/v454/n7207/abs/nature07140.html'
      }));
      methods.add( new app.ReconstructionMethod({name: "Dynamical Cascades", properties: {
          "Can work with single cell resolution" : true,
          "Non-linear" : true,
          "Can work with spike data": true,
          "Has been tested in simulations": true,
          "Has been applied to real data": true
        },
        reference_url : 'http://www.ploscompbiol.org/article/info%3Adoi%2F10.1371%2Fjournal.pcbi.1000271'
      }));
      methods.add( new app.ReconstructionMethod({name: "Dynamical Causal Modeling", properties: {
          "Non-linear" : true,
          "Can work with macro scale resolution" : true,
          "Can work with fMRI data" : true,
          "Has been tested in simulations": true,
          "Has been applied to real data": true
        },
        reference_url : 'http://www.sciencedirect.com/science/article/pii/S1053811903002027'
      }));

      var filters = new app.FilterList();
      filters.generate_from_method_collection(methods);

      // start app
      new app.AppView(methods, filters);
      
      
    </script>
  </body>
</html>